* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 336px;
    height: 262px;
    overflow: hidden;
    /*background-color: black;*/
    background-color: #222;
    color: #eee;
    font-family: system-ui, sans-serif;
}

body > canvas {
    width: 262px !important;
    height: 262px !important;
    transform: translate(36px, 0px);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4a4a6a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5a5a7a;
}
