@font-face {
    font-family: "Sixtyfour";
    src:
        local("Sixtyfour"),
        url("font.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sixtyfour";
    text-align: center;
}

html,
body {
    width: 336px;
    height: 262px;
    overflow: hidden;
    background-color: blue;
    background-color: #222;
    color: #eee;
    font-family: system-ui, sans-serif;
}

#player-1-data {
    /*background: red;*/
    position: absolute;
    inset-block: 0px;
    left: 0px;
    width: 48px;
    z-index: 9999;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#player-1-data > * {
    font-size: 0.3rem;
    text-align: left;
}
#player-2-data > * {
    font-size: 0.3rem;
    text-align: right;
}

#player-2-data {
    /*background: red;*/
    position: absolute;
    inset-block: 0px;
    right: 0px;
    width: 48px;
    z-index: 9999;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.power-container {
    background: black;
    height: 100px;
    width: 24px;
    border-radius: 4px;
    outline: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.power-bar {
    width: 100%;
    background: greenyellow;
    border-radius: 4px;
}

.not-started #player-1-data {
    visibility: hidden;
}
.not-started #player-2-data {
    visibility: hidden;
}

body > canvas {
    width: 262px !important;
    height: 262px !important;
    transform: translate(37px, 0px);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4a4a6a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5a5a7a;
}

#top-text-container {
    position: absolute;
    inset-inline: 0px;
    top: 12px;
    display: grid;
    place-items: center;
}
.not-started #top-text-container {
    visibility: hidden;
}

#center-text-container {
    position: absolute;
    inset: 0px;
    display: grid;
    place-items: center;
}
.not-started #center-text-container {
    visibility: hidden;
}
